@model DishLish.Models.CurrentInventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrentInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
