@model DishLish.Models.Ingredient

@{
    ViewBag.Title = "Create";
}
    @Html.AntiForgeryToken()

    <html>
    <head>
        <title>Ingredients</title>
        <script src="~/Scripts/jquery-1.11.1.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Ingredients</h1>
        <p>Select ingredients that you currently have.</p>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="dairy">
                    <h3>Dairy</h3>
                    <table class="ingredientTable">
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BlueCheese,dairy"> Blue Cheese
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Butter,dairy"> Butter
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="CottageCheese,dairy"> Cottage Cheese                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="CreamCheese,dairy"> Cream Cheese
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cheese,dairy"> Cheese
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Milk,dairy"> Milk
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Half&Half,dairy"> Half &amp; Half
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="HeavyCream,dairy"> Heavy Cream
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Pudding,dairy"> Pudding
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Yogurt,dairy"> Yogurt
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="fruit">
                    <h3>Fruit</h3>
                    <table class="ingredientTable">
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Apple"> Apple
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="AsianPear"> Asian Pear
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Avocado"> Avocado
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Banana"> Banana
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Blueberry"> Blueberry
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Grape"> Grape
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Grapefruit"> Grapefruit
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Orange"> Orange
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Pomegranate"> Pomegranate
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Raspberry"> Raspberry
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="grain">
                    <h3>Grain</h3>
                    <table class="ingredientTable">
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Crackers"> Crackers
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cornmeal"> Cornmeal
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="CornTortillas"> Corn Tortillas
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="FlourTortillas"> Flour Tortillas
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cereal"> Cereal
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Couscous"> Couscous
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Spaghetti"> Noodles - Spaghetti
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="AngelHairPasta"> Noodles - Angel Hair Pasta
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Ramen"> Noodles - Ramen
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Fettuccine"> Noodles - Fettuccine
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Macaroni"> Noodles - Macaroni
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Oatmeal"> Oatmeal
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Pretzels"> Pretzels
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Popcorn"> Popcorn
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Quinoa"> Quinoa
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BasmatiRice"> Rice - Basmati
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BrownRice"> Rice - Brown
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="WhiteRice"> Rice - White
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="WildRice"> Rice - Wild
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="RolledOats"> Rolled Oats
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Popcorn"> Popcorn
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Udon"> Udon Noodles
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Vermicelli"> Vermicelli Noodles
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="WhiteBread"> White Bread
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="WholeWheatBread"> Whole Wheat Bread
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-3 col-sm-5 col-md-8 col-lg-10" id="meat">
                    <h3>Meat</h3>
                    <table class="ingredientTable">
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="WholeChicken"> Chicken - Whole
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="ChickenWings"> Chicken - Wings
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="ChickenBreast"> Chicken - Breast
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="ChickenThighs"> Chicken - Thighs
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="ChickenDrumsticks"> Chicken - Drumsticks
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="MockChickenLegs"> Mock Chicken Legs
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="ChuckRoast"> Beef Chuck Roast
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="FlankSteak"> Beef - Flank Steak
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Shank"> Beef - Shank
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BeefShortRibs"> Beef - Shortribs
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="RibeyeSteak"> Beef - Ribeye Steak
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="NYSteak"> Beef - NY Steak
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Tenderloin"> Beef - Tenderloin
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="StewMeat"> Beef - Stew Meat
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="SpareRibs"> Beef - Spare Ribs
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="RoundSteak"> Beef - Round Steak
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Sirloin"> Beef - Sirloin
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Rump"> Beef - Rump
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="GroundBeef"> Ground Beef
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="GroundPork"> Ground Pork
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="GroundTurkey"> Ground Turkey
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Bacon"> Bacon
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="PorkBelly"> Pork Belly
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="PorkChops"> Pork Chops
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Porkloin"> Pork Loin
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="PorkSpareRibs"> Pork - Spare Ribs
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Fish"> Fish
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Tilapia"> Fish - Tilapia
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Salmon"> Fish - Salmon
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Shrimp"> Shrimp
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5" id="vegetable">
                    <h3>Vegetable</h3>
                    <table class="ingredientTable">
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Artichoke"> Artichoke
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Asparagus"> Asparagus
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BeanSprouts"> Bean sprouts
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="GreenBeans"> Green beans
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BokChoy"> Bok Choy
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Broccoli"> Broccoli
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="BrusselsSprouts"> Brussels Sprouts
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cabbage"> Cabbage
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Carrot"> Carrot
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cauliflower"> Cauliflower
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Celery"> Celery
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Chard"> Chard
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="CollardGreens"> Collard Greens
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Chives"> Chives
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cilantro"> Cilantro
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Cucumber"> Cucumber
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Dill"> Dill
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Garlic"> Garlic
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Ginger"> Ginger
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="GreenOnion"> Green Onion
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Habanero"> Habanero
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Jalapeno"> Jalapeno
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Kale"> Kale
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="LemonGrass"> Lemon Grass
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Mushroom"> Mushroom
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Onion"> Onion
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Parsley"> Parsley
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Potato"> Potato
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Rosemary"> Rosemary
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Sage"> Sage
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Shallot"> Shallot
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Spinach"> Spinach
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Squash"> Squash
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="SweetPotato"> Sweet Potato
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Thyme"> Thyme
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Tomato"> Tomato
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Turnip"> Turnip
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Water Chestnut"> Water Chestnut
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-default">
                                    <input type="checkbox" class="ing" value="Zucchini"> Zucchini
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="padding-top: 22px;">
            @Html.ActionLink("Back to List", "Index")
            <span>
                <button onclick="SaveIngredient()">Add ingredients</button>
                @*<input type="button" class="btn btn-default btn-lg" id="saveIngredients" value="Create" style="float: right;"/>*@
            </span>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/scripts.js"></script>
        }
    </body>
</html>


@*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.IngredientName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.IngredientName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.IngredientName, "", new { @class = "text-danger" })*@
        @*@Html.TextAreaFor(model => model.IngredientName, "Fish")
    </div>
</div>*@

@*<div class="form-group">
    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    </div>
</div>*@

@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>*@


